@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --banner-color-1: #b3ada6;
  --banner-color-2: #d6cec3;
  --banner-color-3: #d6cec3;
  --banner-color-4: #d6cec3;

  --sb-color: #fcfdf5;

  --side-color: #EFBF04;
  --side-color-2: #f7eed3;
  --btn-color: #332d29;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-shadow-text: var(--shadow-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-crl: "CormorantGaramond-Light";
}



@font-face {
  font-family: "CormorantGaramond-Light";
  src: url("/woof/CormorantGaramond-Light.woff2") format("woff2");
  font-weight: 100;
  font-style: swap;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color-scheme: light;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  /* ensure arrows are visible */
  -webkit-appearance: auto;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  /* Remove weird behavior */
}